{% extends 'base.html.twig' %}

{% block body %}
<h1>Liste des catérogies !</h1>
{% for category in categorys %}
    <div class="container">
        <a href="{{ path('list_product', { name: category.name}) }}">
            {{ category.name }}
        </a>
    </div>
{% endfor %}
{% endblock %}