{% extends 'base.html.twig' %}

{% block body %}
<h1 class="row justify-content-center">Liste des catérogies !</h1>
<div class="row">
{% for category in categorys %}
    <!-- <div class="container"> -->
        <a class="col-3 text-dark" href="{{ path('list_product', { name: category.name}) }}">
            {{ category.name }}
        </a>
    <!-- </div> -->
{% endfor %}</div>
{% endblock %}