{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="row justify-content-center">Changement de mot de passe</h1>

    {{ form_start(form) }}

    {{ form_row(form.password, {
        'attr': 
            {'placeholder': 'Entrez un mot de passe !'},
        'label': "Mot de passe : (*)"}) 
    }}

    {{ form_row(form.checkedPassword, {
        'attr': 
            {'placeholder': 'Entrez de nouveau le mot de passe !'},
        'label': "Vérification du mot de passe : (*)"}) 
    }}
    <button type="submit" class="btn btn-success">Modifier le mot de passe</button>
    {{ form_end(form) }}
{% endblock %}