{% extends 'base.html.twig' %}

{% block body %}
<h1 class="row justify-content-center">Résultats de la recherche</h1>

<div class="row">
{% for result in results %}
    <div class="card col-3">
        <a class="text-dark" href="{{ path('product', {'name': result.name, 'id': result.id}) }}">
        <img class="card-img-top" src="{{result.image}}" alt="">
        <div class="card-body">
            <div class="card-text">{{result.price}}€</div>
            <div class="card-title">{{result.title}}</div>
        </div>
        </a>
    </div>
{% endfor %}
</div>
{% endblock %}