{% block body %}
    <p>Veuillez cliquer sur ce lien pour modifier votre mot de passe : 
        <a href="http://localhost:8000/new-password/{{email}}">
            http://localhost:8000/new-password/{{email}}
        </a>
    </p>
{% endblock %}
